.text {
  font-size: 100px;
  text-anchor: middle;
  text-align: center;
  user-select: none;
}

.attributeText {
  font-size: 60px;
  fill: #fff;
  text-anchor: middle;
  text-align: center;
  user-select: none;
}
