.draggable {
    position: relative;
    touch-action: none;
}

.drag {
    width: 100%;
    opacity: 0;
    height: 50%;
    background: red;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 999;
    border: 0;
}