.bubble {
  position: absolute;
  bottom: 60%;
  left: 80%;
  scroll-snap-align: start center;
}

.bubble {
  position: absolute;
  font-size: 26px;
  line-height: 30px;
  width: 400px;
  background: #fff;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: rgb(63, 55, 55);
}

.bubble span {
  font-size: 1.2em;
  font-weight: bold;
}

.bubble:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 24px solid #fff;
  border-right: 12px solid transparent;
  border-top: 12px solid #fff;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}

.success {
  color: #fff;
  background: green;
}

.success:before {
  border-left: 24px solid green;
  border-right: 12px solid transparent;
  border-top: 12px solid green;
  border-bottom: 20px solid transparent;
}
