.circle {
  border-radius: 50%;
  border: 8px solid #ff9b00;
  width: 220px;
  height: 220px;
}

.photo {
  width: 80px;
  height: 80px;
  margin: 20px auto;
}

.leaf {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaf h1 {
  text-align: center;
  font-size: 2em;
}
