.tree {
  overflow: scroll;
  width: 100vw;
  scroll-behavior: smooth;
  flex: 1;
  padding: 10px;
  scroll-snap-type: both mandatory;
  scroll-padding-top: 20px;
}

.inside {
    transform: scale(0.8);
    width: 1000px;
    margin: 100px;
}
@media (min-width: 1250px) {
  .inside {
    margin: 100px auto;
  }
}