.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.attributesList {
    flex: 1;
    display: flex;
    max-width: 100%;
    overflow: scroll;
}

.viewport {
    flex: 1;
    overflow: scroll;
}