.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.attributesList {
    flex: 1;
    display: flex;
    max-width: 100%;
    overflow: scroll;
}

.drawer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}