* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  touch-action: none;
  overscroll-behavior: contain;
}

html,
body,
#__next {
  height: 100%;
}

body {
  background: #3a0700;
}